token-filter.iml
.DS_Store
.gradle/
build/
.idea/
# Compiled class file
*.class

# Log file
*.log
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
META-INF/